:root {
  --Gray-300: hsl(0, 1%, 58%);
  --Gray-600: hsl(0, 5%, 51%);
  --Gray-700: hsl(0, 2%, 37%);

  --Primary-300: hsl(240, 100%, 66%);
  --Primary-600: rgba(0, 0, 196, 0.763);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: hsl(220, 43%, 11%);
  ;
}

body {
  font-family: 'Inter', sans-serif;
  color: hsl(220, 43%, 11%);
}


/* finish css resets */


.profile {
  width: 88px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
  position: relative;
}

.App h1 {
  font-size: 1.5rem;
}

.col {
  padding: 5vmin 0;
}

.hidden {
  display: none;
}

.main__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .75rem;
  width: 80%;
  text-align: center;
  margin-top: 2em;
}

.links a {
  padding: 1em;
  background: #ddd;
  width: 100%;
  border-radius: 5px;
}

.social__icons {

  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.social__icons *:nth-child(2) {
  margin-left: .5em;
}


.footer__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  padding: 5em 0;
}

.footer__section img {
  width: 15%;
}

@media (max-width:568px) {
  .footer__section {
    padding: 2em 0;
    bottom: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .footer__section img {
    width: 50%;
  }
}