body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#twitter {
  font-weight: bold;
}

#profile_img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

#slack {
  visibility: hidden;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#twitter_link,
#btn_zuri,
#books,
#book_python,
#pitch,
#book_design {
  background-color: #eeeef0;
  color: black;
  margin: 10px;
  padding: 5px;
  width: 1200px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.react-icon {
  margin-left: 950px;
  position: relative;
  bottom: 185px;
}

.icons {
  margin-left: 670px;
  padding: 10px;
}

.slack-img,
.git-hub {
  height: 18px;
  width: 15px;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.intern {
  font-weight: bold;
  margin-right: 150px;
}

.intern span {
  color: #e7332b;
}

.phase {
  font-size: 10px;
  margin-right: 100px;
}

.ingressive_logo {
  height: 50px;
  background-color: white;
}